<div id="fs">&nbsp;</div>
<footer id="ft">
  <section class="ct">
          {{ content }}

  Note: the navigation of this website currently sucks quite hard. I'm slowly iterating through making it nicer, but it's very much something that's happening in my spare time and at my lowest priority. See my progress here: <a href="https://github.com/elena/elena.github.io/commits/master">elena.github.io commits</a>.
  </section>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45876614-1', 'elena.github.io');
  ga('send', 'pageview');
</script>

    </body>
</html>
