<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} .. Elena Williams | web developer</title>
        <meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/static/css/syntax.css">

        <!-- Custom CSS -->
        <link href="/static/css/main.css" rel="stylesheet">

	<!-- <link href="/static/css/css.css" rel="stylesheet" type="text/css"> -->
	<!--[if lt IE 9]>
	    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    </head>
    <body>
        <div class="site">

<div id="ct">
    <img id="crl" src="/static/img/crl.png" alt="">
	<header id="hr">
      <div class="lt">
        <a href="/"><img id="ea" src="/static/img/elena.png" alt="Elena Williams" border="0"></a>
	    <p id="tc">
          <a href="mailto:ele.wil@gmail.com">ele.wil@gmail.com</a><br>
          <a href="http://twitter.com/elequ/" target="_blank">@elequ</a>
        </p>
      </div>

      <div id="tt">
	    <h3><strong>web developer</strong></h3>
	    <p>html/css<br>
	      python/django<br>
	      front-end/back-end development</p>
      </div>
    <img id="crr" src="/static/img/crr.png" alt="">
    </header>
  	<div id="cn">
