{% include header.html' %}
<section id="pr">
	<div style="margin-left: 100px;">
<a href="http://anca.net.au/" target="_blank"><img id="test1" class="fi" src="/static/img/5.png" style="-webkit-transform: rotate(-15deg); "></a>
<a href="http://bmamag.com/" target="_blank"><img id="test2" class="fi fj" src="/static/img/2.png"></a>
<a href="http://transitbar.com.au/" target="_blank"><img id="test3" class="fi fj" src="/static/img/10.png" style="-webkit-transform: rotate(15deg); "></a></div>
    </section></div>
	<h2 class="mw">I make websites.</h2>

<br />

{% include 'social.html' %}
<br />
<br />
<br />
<!-- <hr style="clear:both;"> -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/EventHelpers.js"></script>
<script type="text/javascript" src="/static/js/cssQuery-p.js"></script>
<script type="text/javascript" src="/static/js/sylvester.js"></script>
<script type="text/javascript" src="/static/js/cssSandpaper.js"></script><style type="text/css">.cssSandpaper-initiallyHidden { visibility: hidden;} </style>
<script type="text/javascript" src="/static/js/jqueryrotate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#test1").rotate(-15);
  $("#test3").rotate(15);
  $('')
});
</script>

	</div><!-- END cn -->
<!-- END ct -->

<center>
<div id="surprise" style="display: none; ">
    <footer>
      <a href="http://djangoproject.com">Django - The webframework for ponies with magical powers</a>
    </footer>
</div>
<div id="pony_power"> &nbsp;
    <img onclick="$('#surprise').toggle(); $('#pony_power').toggle():" src="/static/img/django_pony_powered.png" width="210" height="65" alt="pony powered" title="click me! click me! click me!!">
</div>
</center>
{% include 'footer.html' %}

