{% include header.html %}

<p class="meta">{{ page.date | date_to_string }}</p>
<h2>{{ page.title }}</h2>

<div class="post">

  {{ content | markdownify }}

</div>
<hr style="clear:both; margin-top: 15px;">
<br />
<br />
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'elequ'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


	</div><!-- END cn -->
<!-- END ct -->

</div>

{% include social.html %}
<center>
<div id="surprise" style="display: none; ">
    <footer>
      <a href="http://djangoproject.com">Django - The webframework for ponies with magical powers</a>
    </footer>
</div>
<div id="pony_power"> &nbsp;
    <img onclick="$('#surprise').toggle(); $('#pony_power').toggle():" src="/static/img/django_pony_powered.png" width="210" height="65" alt="pony powered" title="click me! click me! click me!!">
</div>
</center>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    </body>
</html>
